/* footer */
footer{
    background-color: #161616;
    height:410px ;
    
}
.logo-footer{
    padding-top:90px;
}
.bg-333333{
    background-color: #333333;
}
.social-media-icon{
    margin-top: 35px;
}
.social-media-icon button{
    margin-left: 10px;
}
.copyright-text{
    font-size: 12px;
    color: #333333;
    margin-top: 57px;
}